#overlay {
    font-family: 'Verdana', sans-serif;
    font-size: 7em;
    margin: .2em .5em;
    color: rgba(255, 255, 255, 1);
    position: fixed;
    right: 0;
}

#source {
	font-family: 'Verdana', sans-serif;
	font-size:8px;
    position: fixed;
    bottom: 0;
	color: rgba(255, 255, 255, 1);
	text-decoration: none
}
		
video#bgvid { 
    position: fixed; 
    right: 0; 
    top: 0;
    width: 100%; 
    height: auto; 
    z-index: -100;
    background-size: cover;
}
/*
     FILE ARCHIVED ON 22:39:55 Feb 13, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:19:50 Apr 20, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.316
  PetaboxLoader3.datanode: 86.778 (4)
  RedisCDXSource: 92.082
  CDXLines.iter: 20.325 (3)
  LoadShardBlock: 138.583 (3)
  PetaboxLoader3.resolve: 89.922 (2)
  captures_list: 256.371
  exclusion.robots.policy: 0.294
  load_resource: 128.589
  esindex: 0.025
*/